// Colors
$white: #fff;

$color-text: #777;
$color-primary:#58e1c1;
$color-accent: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

//Breakpoints
$break-m: 768px;

// Fonts
$font-family: 'Lato', sans-serif;
$font-weight-s: 300;
$font-weight-m: 700;

// Spacing & Sizes
$border-radius: 5px;
$padding-s: 10px;
$margin-s: 10px;
$padding-m: 20px;
$margin-m: 20px;

//Color functions
$base-light: lighten($color-accent, 15%);
