// ------------------------ //
//        Base styles       //
// ------------------------ //

* {
    font-family: $font-family;
    color: $color-text;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
 // ------------------------ //
//     Typography           //
// ------------------------ //
  
  .headline-primary {
    color: $color-primary;
    margin-left: $margin-s;
  }
  
  .headline-secondary {
    font-weight: $font-weight-s;
    color: $color-text;
  }
  
  .link {
    color: $color-accent;
    font-weight: $font-weight-m;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-weight-s;
    font-style: italic;
    margin-left: $margin-m;
    padding-left: $padding-m;
    border-left: 8px solid $color-primary;
    border-radius: $border-radius;
  }